.indice{
    position: fixed;
    background-color: var(--colorAzulado);
    height: calc(100vh - 60px);
    padding: 5px 20px;
    font-size: 1.4rem;
    width: 200px;
    z-index: 20;
    box-shadow: 1px 9px 10px var(--colorSombra);
}
.indice a{
    display: block;
    color: var(--colorNegro);
    text-decoration: none;
    margin: 15px 0;
    padding: 8px 15px;
    border-radius: 50px;
    color: #004;
    font-weight: bold;
    background: var(--colorBlancoTransparente);
    
}
.indice a:hover{
    background: #004;
    color: #fff;
    box-shadow: 0 0 10px var(--colorSombra);
}