.BlogNav-contenedor{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--colorBlanco);
    color: var(--colorPrincipal);
    height: 45px;
    box-shadow: -5px 0 10px var(--colorSombra);
    z-index: 10;
    background: rgb(0,0,68);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%,  rgba(0,0,68,1)100%);
    color: #fff;
}

.BlogNav-contenedor ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 5px 30px;
}

.BlogNav-contenedor .BlogNav-contenedor__elemento{  
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0 15px;
    font-size: 20px;
    user-select: none;
    background-color: #fff1;
    width: 90px;
    margin: 0 6px;
    border-radius: 4px;
}
.BlogNav-contenedor .BlogNav-contenedor__menu{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 25px;
    height: 25px;
    filter: invert(1);
    background-color: #fff0;
    background-image: url('../Imagenes/menu.png');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
    border: none;
}

  


